<div class="container text-center">
  <h1>Wagon Hunt</h1>
  <p>Bienvenue sur le clone de Product Hunt</p>

  <p>Check out all the new products on <%= @today %></p>

  <p><%= link_to "Voir les produits", products_path, class: "btn btn-primary" %></p>
</div>
