<h1 class="text-center">
  Le détail du produit
</h1>

<p class="text-center">
  <%= @product.name %>
</p>

<p class="text-center">
  <%= @product.tagline %>
</p>

<p class="text-center">
  <%= link_to @product.url, @product.url, target: :_blank %>
</p>

<p class="text-center">
  <%= link_to "Retour", products_path, class: "btn btn-primary" %>
</p>
